.CodeMirror {
    width: 860px;
    border: 1px solid #eee;
}

.CodeMirror-focused {
    border: 2px solid #bc1e26;
}

#title .CodeMirror {
    height: 80px;
}

#content .CodeMirror {
    height: 320px;
}

#wrapper .row {
    margin: 8px 0;
}

#wrapper {
    border: 1px solid #eee;
    width: 960px;
    height: 540px;
    position: relative;
    top: 50px;
    left: 50px;
    padding: 20px 0 0 50px;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.editor-wrapper {
    margin: 10px 0;
}

/* only CodeMirror v3 can do that */
.cm-header { font-size: 150%; font-family: Helvetica, Arial, sans-serif; }

.userlist-wrapper {
    display: none;
}

.userlist-wrapper h2 {
    margin-top: 0;
}

.userlist-wrapper ul {
    padding-left: 20px;
}

.well {
    margin: 10px 0;
}

#wrapper h3 {
    margin: 15px 5px;
}

#title, #content {
    font-family: Calibri Light;
}

#title {
    font-size: 44px;
    height: 80px;
    width: 800px;
}

#content {
    font-size: 28px;
    margin-top: 50px;
}